.loader {
    width:30px;
    height: 30px;
    border: 3px solid rgba(255, 255, 255, 0.2);
    border-top: 3px solid rgb(51, 255, 0);
    /* Neon blue */
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
    margin-left: 10px;
}
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}